
<p style="
font-family: 'Roboto', sans-serif;
font-weight: 100;
line-height: 16px;
font-size: 12px;">
Hi <%= @prospect.name %> <br /><br />
Thank you for contacting Generation Fitness Member Services <br />
One of our dedicated Member Service Representatives will be happy to correspond with you within the next 2-3 business days. <br />
Looking for more immediate support? <br />
Contact the club via phone at (239) 939-4080. <br />
Thank you for choosing Generation Fitness!<br /><br />
Best, <br />
<b>Maria</b><br />
<i>Generation Fitness Member Services</i>
<br />
<%= image_tag 'email.png' %>
</p>
