<div class="fitness_header">
<div class="tint">
  <div class="classes">
    <b>Group Class</b> Training
  </div>
</div>
</div>
<div class="row">
  <div class="different col-12 col-sm-8 ml-0 pl-4 mt-4 mr-0">
    <h3 style="font-weight: 100;">
      <i>What makes Generation Fitness Group Training different?</i>
    </h3>
    ​<br/ >
    <h5>CONVENIENCE</h5>
    Our classes are offered at a variety of times to fit your busy schedule.
    Class times are limited to 30-45 min to optimize your time efficiently.
    ​<br /><br />
    <h5>GOAL-ORIENTED</h5>
    Our class schedule is designed to allow members to focus on specific areas of fitness.
    Whether that is a specific body part or fitness goal, we are prepared to help you get there.
    ​<br /><br />
    <h5>FLEXIBILITY</h5>
    Our class coaching staff is prepared to tailor group training to your specific needs and abilities.
    ​<br /><br />
    <h5>CONSISTENCY</h5>
    Our variety in class offerings allows you to retake classes from week to week while keeping
    your routine fresh.  No two classes will ever be entirely alike.
    <br /><br />
  </div>
  <div class="col-4 ml-0 mr-0" style="overflow: hidden;">
    <%= image_tag 'spinners.png', class: 'spinners' %>
  </div>
</div>
<div class="row">
  <div class="boot col-12 col-md-6 ml-0 mr-0 pr-0">
    <div class="class_tint">
      <div class="col-10 offset-1 class_title">
        Boot Camp
        <hr />
        <div class="class_description">
          Combines elements of strength training with intense cardio drills. Develop speed, agility, strength, endurance and flexibility using challenging strength and cardio exercises. Classes use body bars, barbells, dumbbells and more.
        </div>
      </div>
    </div>
  </div>
  <div class="core col-12 col-md-6 ml-0 mr-0 pr-0 pl-0">
    <div class="class_tint">
      <div class="col-10 offset-1 class_title">
        Hard CORE
        <hr />
        <div class="class_description">
          Build the your core strength and tone those abs with our 30-minute mid-section targeted workout.  We guarantee you'll feel this one tomorrow.
        </div>
      </div>
    </div>
  </div>
</div>
