<div class="row" style="background-color:darkred;">
  <div class="col-4 pr-0 pl-0 left">
  </div>
  <div class="text-center col-12 col-sm-4 pl-0 pr-0 offer_page">
    <%= image_tag 'offers.png', class: 'offers' %>
  </div>
  <div class="col-4 pl-0 pr-0 right">
  </div>
</div>