<div class="hero h-vh d-flex align-items-center">
  <div class="frosty">
    Generation Fitness is dedicated to helping our members achieve more than they ever thought possible.  We offer a huge variety of strength and cardio equipment, group and personal training, a large athletic turf area for functional fitness, plus an indoor basketball court. 
  ​  <br /><br />
    Generation Fitness was founded with the belief that everyone deserves a safe, comfortable, and fun place to reach their own fitness goals, their own way.
  ​  <br /><br />
    Our philosophy is simple:
    <br />
    <h5>Generation Fitness is fitness for Generation You.<h5>
  </div>
</div>