@import "bootstrap";
@import url('https://fonts.googleapis.com/css?family=Roboto:100,300,400,500&display=swap');
@import "home";
@import "footer";
@import "ourstory", "offers", "fitness", "contact";


body {
  font-family: 'Roboto', sans-serif;
}

.clear {
  clear: both;
}

.btn-primary {
  color: #fff;
  background-color: #d3382e;
  width: auto;
  width: 200px;
  font-weight: 100;
  border-radius: 0;
  margin-top: 15px;
  margin-bottom: 15px;
  border: none;
}

.btn-primary:hover {
  cursor: pointer;
}

.grid-item { 
  max-width: 300px; 
  min-width: 100px;
}

.pagination {
  display: flex;
  padding-left: 0;
  list-style: none;
  border-radius: 0.25rem;
  bottom: 0;
  position: absolute;
  justify-content: center;
  margin-bottom: -40px;
  width: 100%;
  font-weight: 100;
}

.pagination a {
  color: #d3382e;
}

.pagination > * {
  margin-right: 0.1em;
  padding: 0.3em 0.4em;
}

.pagination a:hover {
  background: #202020 none repeat scroll 0 0;
  text-shadow: 1px 1px 1px #171717;
}

.pagination a:active {
  text-shadow: none;
}

.pagination .current {
  background: #202020 none repeat scroll 0 0;
  color: white;
  text-shadow: 1px 1px 1px #171717;
}

.pagination .disabled {
  color: #C0C0C0;
}

@media only screen and (max-width: 768px) {
  .hours {
    font-size: 28px;
    top: 0;
    text-align: center;
    padding-left: 0;
    margin-top: 300px;
    height: 50px;
  }
  .liner {
    display: none;
  }
  figcaption {
    display: none;
  }
  #boom {
    display: none;
  }
  #girl {
    height: 340px;
    width: auto;
    z-index: 0;
  }
  .splash {
    height: 340px;
  }

  .splash_2 {
    background:  #d3382e;
  }

  .navbar-toggleable-md .navbar-nav {
    display: block;
  }
  .offers {
    width: 100%;
    height: auto;
  }
  .left, .right {
    display: none;
  }
}

.h-vh {
  min-height: calc(100vh - 250px - 78px);

}