@import "bootstrap";
@import url('https://fonts.googleapis.com/css?family=Roboto:100,300,400,500&display=swap');
@import "home";
@import "footer";
@import "ourstory", "offers", "fitness", "contact";


body {
  font-family: 'Roboto', sans-serif;
}

.clear {
  clear: both;
}

.btn-primary {
  color: #fff;
  background-color: #d3382e;
  width: auto;
  width: 200px;
  font-weight: 100;
  border-radius: 0;
  margin-top: 15px;
  margin-bottom: 15px;
  border: none;
}