.offers {
  max-width: 500px;
  max-height: 625px;
}

.right {
  background: image_url('class.png') center no-repeat;
  background-size: cover;
  position: static;
}

.left {
  background: image_url('girlguy.png') left no-repeat;
  background-size: cover;
  background-position-x: 38%
}