.offers {
  max-width: 500px;
  max-height: 625px;
}
.offer_page {
  background: image_url('class.png') no-repeat fixed;
  background-size: 300%;
  background-position-y: bottom;
  background-position-x: 40%;
}