.offers {
  max-height: 900px;
}

.right {
  background: image_url('class.png') no-repeat;
  background-size: cover;
}

.left {
  background: image_url('girlguy.png') left no-repeat;
  background-size: cover;
  background-position-x: 38%
}