<footer class="row pt-3 pl-3 pr-0 pb-0 mr-0 ml-0">
  <div class="col-12 col-md-6 text-center mt-2">
    <%= image_tag 'logo_white.png', style: 'height:82px;width:315px;'%>
    <br />
    10970 S Cleveland Avenue #501 <br />
    Fort Myers, FL 33907<br />
    memberservices@mygenerationfitness.com <br />
    (239) 939-4080
  </div>
  <div class="col-12 col-md-6 text-center mt-4">
    <h3>
      Staffed Club Hours
    </h3>
    <hr />
    MONDAY - THURSDAY :  10AM - 8PM
​    <br />
    FRIDAY :  10AM - 7PM
​    <br />
    SATURDAY :  BY APPOINTMENT
​    <br />
    SUNDAY :  BY APPOINTMENT
  </div>
</footer>